.gift__presentation {
    background-color: var(--contrast-1);
    padding: 40px 0;
}

.gift__header {
    width: 70%;
}

.gift__title {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 15px;
}

.gift__description {
    font-size: 19px;
}

.gift__rules {
    display: block;
    font-weight: 500;
    color: var(--primary);
    margin: 25px 0;
    font-size: 17px;
}

.gift__choose {
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
}

.gift__choosed {
    background-color: var(--next-theme);
}