html(lang="pt")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title next - faz acontecer 😉
        meta(name="description", content="Pode chamar de banco. Pode chamar de app. O que importa é que o next vai mudar sua vida financeira, e ajudar a fazer seus planos virarem realidade.")

    body
        div#next